<div class="details" style="background-image: url('../server/images/{{image}}')">
  <div class="details__overlay"></div>
  <div class="details__wrapper">
    <div class="details__content">
      <h2 class="details__title">{{titre}}</h2>
      <p class="details__desc">{{desc}}</p>
      <p class="details__realisateur">Réalisateur : {{realisateur}}</p>
      <p class="details__annee">Année : {{annee}}</p>
      <p class="details__duree">Durée : {{duree}} minutes</p>
      <p class="details__categorie">Catégorie : {{categorie}}</p>
      <p class="details__age">Âge minimum : {{age}} ans</p>
      <p class="details__note-moyenne">Note moyenne : <strong>{{moyenne}} / 5</strong></p>
      {{noteForm}}
      <a href="{{url}}" target="_blank" class="details__trailer-button">Voir le trailer 🎬</a>
    </div>
  </div>
</div>