.details {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.details__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #2c3e50;
  text-align: center;
}

.details__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.details__desc {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
}

.details__realisateur,
.details__annee,
.details__duree,
.details__categorie,
.details__age {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.details__trailer {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 8px;
}
