<nav class="navbar font-sans">
  <img class="navbar__logo" src="../server/images/starz-logo-glint.svg" alt="Logo Starz"
    onclick="{{hAbout}}; C.setActiveNavbar('Accueil')" />

  <div class="burger" id="burger" onclick="document.body.classList.toggle('nav-open')">
    <svg width="32" height="32" viewBox="0 0 32 32">
      <line class="burger__line" x1="2" y1="7" x2="30" y2="7" />
      <line class="burger__line" x1="2" y1="16" x2="30" y2="16" />
      <line class="burger__line" x1="2" y1="25" x2="30" y2="25" />
    </svg>
  </div>

  <div class="navbar__menu">
    <ul class="navbar__list">
      <li class="navbar__item" onclick="{{hAbout}}; C.setActiveNavbar('Accueil')">
        Accueil
      </li>
      <li class="navbar__item navbar__dropdown">
        Catégories
        <ul class="navbar__dropdown-menu">
          {{categorieMenu}}
        </ul>
      </li>

    </ul>

    <div class="navbar__search">{{searchbar}}</div>

    <div class="navbar__profile">
      <label class="navbar__label">Profil :</label>
      <select id="profile-select" class="navbar__select" onchange="{{handler}}">
        {{options}}
      </select>

      <img id="profile-picture" class="navbar__picture" src="../server/images/{{image}}" alt="Photo de profil"
        onclick="{{handlerLikes}}" />
    </div>
  </div>
</nav>