.updateUser {
  width: 100%;
  margin-block: 2rem;
  padding: 2rem;
  background-color: var(--color-gray-darker);
  border-radius: 0.75rem;
  box-shadow: 0 0.4rem 1rem hsla(0, 0%, 0%, 0.3);
  color: var(--color-fg);
  font-family: var(--ff-sans);
  display: grid;
  gap: 2rem;
}

.updateUser__title {
  font-size: 2rem;
  text-align: center;
  color: var(--color-fg);
}

#user-select {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0.0625rem solid var(--color-gray-light);
  border-radius: 0.5rem;
  background-color: var(--color-gray-dark);
  color: var(--color-fg);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#user-select:focus {
  outline: none;
  border-color: var(--color-yellow-fluo);
  box-shadow: 0 0 0.5rem hsla(73, 100%, 50%, 0.5);
}

.updateUser__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.updateUser__form input {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-gray-dark);
  color: var(--color-fg);
  border: 0.0625rem solid var(--color-gray-light);
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.updateUser__form input::placeholder {
  color: var(--color-gray-light);
}

.updateUser__form input:focus {
  outline: none;
  border-color: var(--color-yellow-fluo);
  box-shadow: 0 0 0.5rem hsla(73, 100%, 50%, 0.5);
}

.updateUser__form button {
  background: var(--gradient-button);
  color: var(--color-black);
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
  grid-column: span 1;
  justify-self: center;
}

.updateUser__form button:hover {
  opacity: 0.85;
}

.updateUser__form button:active {
  transform: scale(0.95);
}

@media (min-width: 48rem) {
  .updateUser__form {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .updateUser {
    padding-inline: 4rem;
  }

  .updateUser__form button {
    grid-column: 1 / -1;
  }
}

@media (min-width: 64rem) {
  .updateUser__form {
    grid-template-columns: repeat(3, 1fr);
  }

  .updateUser {
    padding-inline: 6rem;
  }
}
