<div class="addUser">
  <h4 class="addUser__title">Gérer les utilisateurs</h4>

  <label for="profile-select">Sélectionner un profil existant :</label>
  <select id="profile-select">
    <option value="">-- Nouveau profil --</option>
    {{options}}
  </select>

  <form class="addUser__form">
    <input
      required
      type="text"
      name="name"
      id="name"
      placeholder="Nom du profil"
    />
    <input
      required
      type="text"
      name="image"
      id="image"
      placeholder="Nom de l'image (avec extension)"
    />
    <input required type="date" name="datenaissance" id="datenaissance" />

    <button type="button" onclick="{{handlerAdd}}">Ajouter</button>
    <button type="button" onclick="{{handlerUpdate}}">Mettre à jour</button>
  </form>
</div>
