<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">Accueil</li>
  </ul>
  <div class="navbar__profile">
    <label for="profile-select" class="navbar__label">Profil :</label>
    <select id="profile-select" class="navbar__select">
      {{options}}
    </select>
    <img
      id="profile-picture"
      class="navbar__picture"
      src="https://mmi.unilim.fr/~lavilledevaur1/SAE/SAE2.03/server/images/{{image}}"
      alt="Photo de profil"
    />
  </div>
</nav>
