@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-purple: #800080;
  --color-purple-light: #5d2de6;
  --colro-gray-dark: #021214;
  --color-gray-light: #d1d3d4;
  --color-yellow-fluo: #d2ff00;
  --color-pink: #fb3aa2;

  --ff-sans: "Poppins", sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-gray-dark);
}
