@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-purple: hsl(300, 100%, 25%);
  --color-purple-light: hsl(255, 77%, 53%);
  --color-gray-dark: hsl(186, 84%, 4%);
  --color-gray-light: hsl(210, 3%, 83%);
  --color-yellow-fluo: hsl(73, 100%, 50%);
  --color-pink: hsl(330, 96%, 60%);

  --color-bg-start: hsl(186, 84%, 4%);
  --color-bg-end: hsl(186, 82%, 5%);

  --ff-sans: "Poppins", sans-serif;

  /* Semantic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-gray-dark);
}
