<div class="categorie">
  <ul class="categorie__list">
    <li class="categorie__tag" onclick="C.handlerCategorie('Action')">
      Action
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Comedy')">
      Comedy
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Drama')">Drama</li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Horror')">
      Horror
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Romance')">
      Romance
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Science Fiction')">
      Science Fiction
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Fantasy')">
      Fantasy
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Thriller')">
      Thriller
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Documentary')">
      Documentary
    </li>
    <li class="categorie__tag" onclick="C.handlerCategorie('Animation')">
      Animation
    </li>
  </ul>
</div>
