@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --color-green: hsl(120, 100%, 37%);

  --color-primary: #1abc9c;
  --color-secondary: #16a085;
  --color-dark: #1e1e2f;
  --color-light: #ecf0f1;
  --color-muted: #95a5a6;
  --radius: 8px;
  --transition: 0.3s ease;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --font: "Segoe UI", Roboto, sans-serif;

  --ff-sans: "DM sans", sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-gray-dark);
  --color-accent: var(--color-green);
}
